* {
  margin: 0;
  box-sizing: border-box;
  background: #E7EAEE;
  font-family: sans-serif;
  
}

.wrapper {
  display: flex;
  border: 5px solid green;
  
}

/* Navbar styling */
#navbar {
  border: 2px solid red;
  
  display: flex;
  flex-direction: column; /* this changes the main and cross axis position */
  justify-content: flex-start;
  
}

#navbar header {
  border: 1px solid black;
  font-size: 1.5em;
  
}

#navbar ul {
  border: 1px solid black;
  height: 100%;
}

#navbar li {
  
  list-style: none;
  
}


/* Main content styling */
#main-doc {
  border: 2px solid blue;
  
}

@media screen and (max-width: 500px) {
  .wrapper {
    display: block;
  }

  
}