* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  /* color: #fff; */
  min-width: 50px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,.2);
  padding: 10px 10px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.header {
  display: flex;
  justify-content: center;
  background-color: black;
  border: 1px solid red;
}

.fas {
  color: white;
  padding: 10px;
}

.navbar > .dropdown .dropdown-content {
  list-style-type: none;
}

.links {
  color: green;
}

.pictures {
  margin: 0;
  max-width: 1200px;
  padding: 0 1rem;
  margin-top: 5rem;
}

.responsive-image {
  max-width: 100%;
  transform: rotate(90deg);
  margin-bottom: 6rem;
}

.cell img {
  display: block;
}

.cell {
  margin: 1rem;
}
