* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#header {
  background-color: coral;
  padding-top: 20px;
  padding-bottom: 30px;
  padding-left: 25%;
}

#nav-bar {
  display: inline-block;
}

#nav-bar ul {
  list-style-type: none;
  text-align: center;
  padding-top: 10px;
  /* border: 1px solid black; */ /* for debugging */
}

#nav-bar li {
  padding: 20px;
  display: inline;
}

#header-img {
  padding-right: 20px;
  float: left;
}

.nav-link {
  color: white;
  text-decoration: none;
  font-size: 22px;
  padding-right: 30px;
  
}

.nav-link:hover {
  text-decoration: underline;
}