* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page-wrap {
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 22px;
  /* border: 12px solid black; */
}

#header {
  background-color: coral;
  
}

.nav-link {
  color: #fff;
  list-style-type: none;
  text-decoration: none;
  font-size: 20px;
}

.nav-link:hover {
  text-decoration: underline;
}

#about {
  /* border: 3px solid black; */
  /* display: block; */
}

.video-section {
  margin: 20px;
}

.paragraphs {
  font-size: 22px;
  margin: 20px;
}

.description {
  /* border: 2px solid black; */
  margin: 10px 0;
}

.player-link {
  text-decoration: none;
  color: coral;
}

.player-link:hover {
  text-decoration: underline;
}

.player-link:visited {
  /* color: black; */
  text-decoration: none;
}

#product-pics {
  margin: auto;
  max-width: 1500px;
  padding: 0 1rem;
  /* margin-top: 1rem; */
  /* border: 5px dotted black; */
}

.responsive-pic {
  max-width: 100%;
  margin: 5rem 0;
  display: block;
}

/* Smaller screens */
@media screen and (max-width: 699px) {
  #header {
    text-align: center;
    padding: 15px 0;
  }

  .links {
    padding: 10px 0 0 0;
  }

  .links li {
    padding-bottom: 10px;
  }
  
  #about {
    margin: 30px;
    text-align: left;
  }

  .video-section {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 35px;
    overflow: hidden;
    height: 0;
  }

  #video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .description {
    margin-top: 15px;
  }

  .cell {
    margin-bottom: 7rem;
  }
}

/* Larger screens */
@media screen and (min-width: 700px) {
    #header > div {
    /* border: 3px solid black; */
    display: flex;
  }

  .logo {
    /* border: solid 1px black; */
    width: 33.3%;
    text-align: center;
    padding: 15px 0;
    margin-left: 50px;
  }

  #nav-bar {
    /* border: 1px solid black; */
    width: 66.6%;
    display: flex;
    justify-content: flex-end;
  }

  .links {
    display: flex;
    justify-content: space-between;
    padding-left: 15px;
    margin-right: 50px;
  }

  .links li {
    list-style-type: none;
    padding-right: 30px;
    margin-top: 25px;
  }

  .page-wrap > #about {
    display: flex;
    justify-content: center;
    /* margin-left: 12.5%; */
  }
  
  #about {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* width: 75%; */
    overflow: hidden;
  }

  .paragraphs {
    width: 640px;
  }

  .grid {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    /* border: 3px solid black; */
    
  }

  .cell {
    display: flex;
    justify-content: center;
    width: calc(50% - 2rem);
    /* border: 2px dotted black; */
    
  }

  
}